.navmenu {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
  border-radius: 1%;
  height: 80%;
  
}
.mapalyze {
  padding-top: 1%;
  padding-left: 1%;
}

.links{
  padding-top: 1%;
  margin-left: 72%;
}
.home{
  padding-top: 2.5%;
  border-radius: 20%;
}
.home :hover{ 
  background: linear-gradient(to bottom right, #0f9ced, #80d0c7);
}
.about{
  padding-top: 0.5%;
  border-radius: 20%;
}
.about :hover{
  background: linear-gradient(to bottom right, #0f9ced, #80d0c7);
}
.login{
  padding-top: 2.5%;
  border-radius: 20%;
}
.login :hover{
  background: linear-gradient(to bottom right, #0f9ced, #80d0c7);
}
.activeLink {
  background: linear-gradient(to bottom right, #0f9ced, #80d0c7);
}
