/* NavMenu.module.css */

.navmenu {
  background: linear-gradient(to bottom right, #e9e9e9, #9a9a9a);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
  border-radius: 1%;
  height: 70px;
}
.mapalyze {
  padding-top: 0.5%;
  padding-left: 1%;
}
.links{
  padding-top: 0.5%;
  padding-left: 85%;
  padding-right: 1%;
}
.home{
  border-radius: 20%;
}
.home ::selection{
  background: linear-gradient(to bottom right, #38A27D, #561139);
  height: 130%;
  color: white;
}
.home :hover{
  background: linear-gradient(to bottom right, #38A27D, #561139);
  height: 130%;
  color: white;
}
.about{
  border-radius: 20%;
}
.about :hover{
  height: 130%;
  background: linear-gradient(to bottom right, #38A27D, #561139);
  color: white;
}
.login{
  border-radius: 20%;
}
.login :hover{
  height: 130%;
  background: linear-gradient(to bottom right, #38A27D, #561139);
  color: white;
}
.activeLink {
  background: linear-gradient(to bottom right, #38A27D, #561139);
  height: 130%;
  color: white !important;
}